@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    height: 100vh;
}
.nav{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 8%;
    display: flex;
   align-items: center;
   

}

.hijos1{
    width: 10%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    width: 90%;
    height: 70%;

}

.hijos2{
    width: 8%;
    height: 100%;
    /* background-color: rgb(227, 13, 13); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

}
.hijos3{
    width: 8%;
    height: 100%;
    /* background-color: rgb(56, 13, 227); */
    font-family: 'Roboto', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hijos4{
    width: 50%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(194, 194, 194);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
    
}

#lupa{
    /* background-color: rgb(191, 22, 242); */
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lupaim{
    width: 50%;
    height: 50%;
}


#input{
    /* background-color: rgb(16, 101, 101); */
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buscar{
    width: 100%;
    height: 80%;
    border-style: none;
    color: rgb(179, 179, 179);
    font-size: 13px;
}

.hijos5{
    width: 10%;
    height: 80%;
    /* background-color: rgb(34, 53, 137); */
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;   
}
#boton{
    width: 90%;
    height: 100%;
    border-radius: 20px;
    border-style: none;
    font-size: 15px;
    font-weight: bolder;
    background-color: rgb(236, 236, 236);
    
}

.hijos6{
    width: 10%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;   
}
#boton2{
    width: 90%;
    height: 100%;
    border-radius: 20px;
    border-style: none;
   color: white;
    font-size: 15px;
    font-weight: bolder;
    background-color: red;
    
}

.hijos7{
    width: 4%;
    height: 100%;
    /* background-color: rgb(34, 53, 137); */
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    border-radius: 20px;   
}
#felcha{
    width: 25%;
    height: 25%;
}

.tipo{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 60%;
    display: flex;
   align-items: center;  
   flex-direction: column;
   flex-wrap: wrap;
}
#conten_ico{
    /* background-color: aqua; */
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 1%;
}
#icono{
    width: 30%;
    height: 50; 
    border-radius: 50%;
}
#nom{
    /* background-color: azure; */
}
#nombre{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;

}
#instagram{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(228, 126, 0); */
    height: 8%;
    

}
#datos_{
    /* background-color: blue; */
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#botonera{
    /* background-color: brown; */
    display: flex;
    width: 15%;
    height: 15%;
    align-items: center;
    justify-content: center;
}
#flecha_{
    /* background-color: aquamarine; */
    width: 50%;
    height: 100%;
}
#bo_{
    /* background-color: rgb(163, 157, 255); */
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#flecha_{
    display: flex;
    align-items: center;
    justify-content: center;
}

#botonS{
    width: 80%;
    height: 70%;
    border-radius: 30px;
    border-style: none;
   color: white;
    font-size: 15px;
    font-weight: bolder;
    background-color: red;
    
}
